@use '../../App.scss';

#hero{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 50px 0;
    padding: App.$l-padding;

   #hero__text{
        display: flex;
        flex-direction: column;
        gap: 40px;
        max-width: 50%;
        flex-shrink: 2;



       #hero__text--header{
            font-size: 2.8rem;
            text-transform: uppercase;

            span{
                color: App.$main-theme;
            }
        }

       #hero__text--par{
            font-size: 24px;
        }

       #hero__text--search{
            display: flex;
            align-items: center;
            

            input{
                width:390px;
                height: 54px;
                border-radius: 10px 0 0 10px;
                border: 1px solid App.$border-color;
                padding-left: 10px;
                font-size: 1rem;
                outline:none;
            }

            .hero__text--search--btn{
                border-radius: 0 10px 10px 0;
                background-color: App.$main-theme;
                color: App.$second-font-color;
                text-transform: uppercase;
                transition: ease all 0.2s;
                


                &:hover{
                    background-color:App.$second-font-color;
                    border: 2px solid App.$main-theme;
                    color: App.$main-theme;
                }
            }
        }
    }


   #hero__images{
        display:grid;
        grid-template-columns: 150px 234px 234px;
        grid-template-rows: repeat(5,88px);
        gap: 5px;
        grid-template-areas: 
        '. . img2'
        '. img1 img2'
        '. img1 img4'
        '. img3 img4'
        '. img3 .'
        ;


        .hero__images--img{
            &:nth-child(1){
                grid-area: img1;
            }
            &:nth-child(2){
                grid-area: img2;
            }
            &:nth-child(3){
                grid-area: img3;
            }
            &:nth-child(4){
                grid-area: img4;
            }
        }
    }
}