@font-face {
    font-family: redRose;
    src: url('./assets/fonts/RedRose-Regular.ttf'); 
    font-weight: normal;
}
@font-face {
    font-family: redRose;
    src: url('./assets/fonts/RedRose-Bold.ttf');
        font-weight: bold;
}

@font-face {
    font-family: poppins;
    src: url('./assets/fonts/Poppins-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: poppins;
    src: url('./assets/fonts/Poppins-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: roboto;
    src: url('./assets//fonts/RobotoMono-Regular.ttf');
}

/*  main variables  */

$main-theme: #A02279;
$main-font-color: #434343; 
$second-font-color: #fff; 
$border-color: #D7D7D7;
$main-font: redRose;
$second-font: poppins;
$third-font: roboto;



*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: $main-font;
    color: $main-font-color;
}

.btn{
    width: 170px;
    height: 54px;
    border-radius:10px;
    border: none;
    cursor: pointer;
    font-weight: normal;
    font-size: 1rem;
    outline: none;
}

.App{
    
}